In [11]:
import os

In [52]:
os.chdir(r"C:\Users\Dell\OneDrive\Desktop\iAnalyst\X-Y-axis-data-points-extractor-tool-main")

In [58]:
# importing the module
import cv2
import os
import csv
import numpy as np
import pandas as pd
emptylist= []


def click_event(event, x, y, flags, params):

    if event == cv2.EVENT_LBUTTONDOWN:
        print(x, ' ', y)
        emptylist.append(x)
        emptylist.append(y)
        df = emptylist
        #df.to_csv("/home/rohit/Desktop/opencvimagenotationtool/datapoint.csv", sep=',',index=False)
        #import numpy as np
        #np.savetxt("file_name.csv", emptylist, delimiter=",", fmt='%s')
        data = emptylist
        #print(data)
        out = csv.writer(open("datapoint.csv","w"), delimiter=',',quoting=csv.QUOTE_ALL)
        out.writerow(data)


        font = cv2.FONT_HERSHEY_SIMPLEX
        cv2.putText(img, str(x) + ',' + str(y), (x,y), font, 0.5, (255, 0, 0), 1)
        
        cv2.imshow('image', img)
        #print(emptylist)
    

    if event==cv2.EVENT_RBUTTONDOWN:
        #print(x, ' ', y)
        font = cv2.FONT_HERSHEY_SIMPLEX
        b = img[y, x, 0]
        g = img[y, x, 1]
        r = img[y, x, 2]
        cv2.putText(img, str(b) + ',' + str(g) + ',' + str(r), (x,y), font, 1.0,(255, 255, 0), 2)
        cv2.imshow('image', img)
    

if __name__=="__main__":
    images = []
    folder = r"C:\Users\Dell\OneDrive\Desktop\iAnalyst\X-Y-axis-data-points-extractor-tool-main\wrapped_images1"
    for filename in os.listdir(folder):
        img = cv2.imread(os.path.join(folder,filename))
        cv2.imshow('image', img)
        cv2.setMouseCallback('image', click_event)

        cv2.waitKey(50000)
        cv2.destroyAllWindows()

756   328
878   334
880   357
758   352
764   328
888   331
890   355
763   352
770   324
897   332
898   357
770   348
776   317
906   326
908   349
774   343
781   320
917   325
918   348
784   343
791   315
930   320
930   346
788   336
795   314
940   318
939   344
796   337
804   308
952   313
954   343
804   338
822   300
983   307
982   336
822   332
840   292
1014   297
1013   328
842   322
854   286
1030   292
1034   325
852   317
906   264
1114   268
1117   307
905   300
921   253
1139   261
1142   302
922   292
938   245
1166   253
1170   295
940   288
958   237
1196   244
1195   288
957   280
978   220
1226   232
1230   277
978   273
1003   212
1262   221
1264   272
1003   263
753   329
873   335
871   356
755   352
754   332
872   336
870   356
751   354
756   329
871   336
870   353
747   353
752   329
873   335
870   358
753   352
756   332
870   336
867   357
754   352

In [59]:
sampledata = pd.read_csv('datapoint.csv',header=None)
lst = (sampledata.iloc[0,:]).tolist()

def list_Dataframe(list):
    df = pd.DataFrame(columns=[np.arange(0,(len(list)//4))],index=[0,1,2,3])
    
    for i in range(0,((len(list)//4)),2):
        df.iloc[0,i]  =list[(i*4)]
        df.iloc[0,i+1]=list[(i*4)+1]
        df.iloc[1,i]  =list[(i*4)+2]
        df.iloc[1,i+1]=list[(i*4)+3]
        df.iloc[2,i]=list[(i*4)+4]
        df.iloc[2,i+1]=list[(i*4)+5]
        df.iloc[3,i]=list[(i*4)+6]
        df.iloc[3,i+1]=list[(i*4)+7]
    return df

L_D = list_Dataframe(list=lst)
L_D.to_csv("video_pts.csv",index=None,header=None) # Convert Data frame to csv

In [60]:
d1 = pd.read_csv('video_pts.csv',header=None)
d1

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,756,328,764,328,770,324,776,317,781,320,...,753,329,754,332,756,329,752,329,756,332
1,878,334,888,331,897,332,906,326,917,325,...,873,335,872,336,871,336,873,335,870,336
2,880,357,890,355,898,357,908,349,918,348,...,871,356,870,356,870,353,870,358,867,357
3,758,352,763,352,770,348,774,343,784,343,...,755,352,751,354,747,353,753,352,754,352