In [23]:
import pandas as pd
import numpy as np

In [30]:
l = []
for i in range(1,30):
  #print(str(i))
  l.append(str(i))
print(l)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29']

In [49]:
def RightFormate(list):
    df = pd.DataFrame(columns=[np.arange(0,len(list)//2)],index=[0,1])
    for i in range(0,((len(list)//2)),2):
        df.iloc[0,i]  =l[(i*2)]
        df.iloc[0,i+1]=l[(i*2)+1]
        df.iloc[1,i]  =l[(i*2)+2]
        df.iloc[1,i+1]=l[(i*2)+3]
    return df

In [50]:
RightFormate(list=l)

  0  1  2  3   4   5   6   7   8   9   10  11  12  13
0  1  2  5  6   9  10  13  14  17  18  21  22  25  26
1  3  4  7  8  11  12  15  16  19  20  23  24  27  28